# Entorno virtual
venv/
.venv/

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de compilación
*.pyo
*.pyd

# Variables de entorno
.env

# Configuración de VS Code (opcional)
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
